$gray: #f3f3f3;
$accent: #1BC88B;
$h2: 20px;
$bold: 500;
$textStandart: 16px;

// Box
$box-shadow: rgb(0 0 0 / 6%) 0px 3px 5px -1px, rgb(0 0 0 / 4%) 0px 5px 8px 0px, rgb(0 0 0 / 4%) 0px 1px 14px 0px;
$box-radius: 16px;
$box-bg: #fff;


$header-shadow: rgb(0 0 0 / 3%) 0px 3px 5px -1px, rgb(0 0 0 / 2%) 0px 5px 5px 0px, rgb(0 0 0 / 2%) 0px 1px 10px 0px;

// Icon
$iconEdges: 40px;